@media(max-width: 1800px) {
    .container {
        width: 90%;
    }

    section {
        width: 100% !important;
    }

    /* Three boxes */
    .progressBar {
        width: calc(90vw - 370px);
    }

    /* Wierzymy */
    .wierzymyRight {
        padding-left: 40px;
    }
}

@media(max-width: 1500px) {
    /* Oferta */
    .ofertaLeft {
        width: 35%;
    }

    .ofertaRight {
        width: 60%;
    }

}

@media(max-width: 1400px) {
    /* EKSPERCI */
    .eksperciKontakt {
        flex-direction: column;
    }

    .eksperciKontakt .eksperciKontaktItem {
        margin-bottom: 25px;
    }

    .eksperciItemRight {
        margin-right: 40px;
    }
}

@media(max-width: 1300px) {
    /* Oferta */
    .misjaLeft {
        width: 400px;
        height: 363px;
    }

    /* Wierzymy */
    .wierzymyRight .bigHeader {
        font-size: 25px;
    }
}

@media(max-width: 1200px) {
    /* Oferta */
    .naszaMisja, .wierzymy {
        flex-direction: column;
    }

    .misjaLeft, .wierzymyLeft {
        margin-bottom: 40px;
    }

    /* MISJA - nasze wartosci */
    .naszeWartosciItem {
        margin-bottom: 30px;
    }
}

@media(max-width: 1100px) {
    /* MISJA - Stats */
    .liczbyIMy .statsItem {
        width: 45%;
        margin-right: 5%;
    }
}

@media(max-width: 1000px) {
    /* MISJA - Dlaczego my */
    .dlaczegoMyInner {
        flex-direction: column;
        align-items: center;
    }

    .dlaczegoMyItem {
        width: 80%;
    }
}

@media(max-width: 800px) {
    /* MISJA - Misja first */
    .misjaBoxes {
        flex-direction: column;
        align-items: center;
    }

    .misjaBoxItem {
        width: 80%;
        margin: 20px 0;
    }

    /* MISJA - wierzymy */
    .wierzymyPage .wierzymyRight {
        width: auto;
    }

    /* MISJA - nasze wartosci */
    .naszeWartosci {
        flex-direction: column;
        align-items: center;
    }

    .naszeWartosciLeft, .naszeWartosciRight {
        width: 80%;
    }

    /* MISJA - stats */
    .statsItemRight {
        font-size: .8rem;
    }
}

@media(max-width: 700px) {
    /* MISJA - wierzymy */
    .wierzymyPage .wierzymyLeft {
        width: 70vw;
        height: calc(70vw / (500/301));
    }

    .wierzymyRight .bigHeader {
        font-size: 20px;
    }

    /* MISJA - nasze wartosci */
    .naszeWartosci .bigHeader {
        margin-bottom: 30px;
    }
}

@media(max-width: 600px) {
    /* MISJA - stats */
    .liczbyIMyInner {
        width: 90%;
        margin: 40px auto;
    }

    .liczbyIMy .statsItem {
        width: 100%;
        margin-right: 0;
    }
}